/*
Theme Colors
#0E0B16
#A239CA
#4717F6
#E7DFDD
*/

body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
    list-style: none;
    padding: 0;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    color: #4717F6;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited{
  color: #A239CA
}
h1 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 3em;
}
p {
    color: #333;
    font-size: 1.5em;
    line-height: 1.4em;
}
footer {
    border-top: 1px solid #0E0B16;
    font-size: .8em;
}

ul.posts {
    font-size: 1.5em;
    margin: 20px auto 40px;
}
ul.posts li {
    list-style: none;
}
