#root{
    background-color: #858BA4;
    height: 100vh;
    width: 100vw;
}

.menu {
    background: #00020A;
    padding: 24px;
    border-radius: 10px;
}

li {
        background: #00020A;
    }

&:hover {
    background: lighten(#00020A, 20%);
}

a {
    color: #FFE900;
}