<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<!--Import Google Icon Font-->
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <!--Import materialize.css-->
       <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
		</head>
		<body>
			<nav>
				<div class="nav-wrapper">
					<a href="/" class="brand-logo right">To be Logo'ed</a>
	    		<ul id="nav-mobile" class="left hide-on-med-and-down">
	        		<li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/portfolio">Portfolio</a></li>
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
				</div>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer class="page-footer">
				<div class="container">
					<div class="row">
						<div class="col 16 s12">
							<div class="white-text">I'ma put some blurb here.</div>
						</div>
					<div class="col 14 offset-12 s12">
						<h5 class="white-text">Places you can find me</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" href="https://github.com/mitchbeare">Github</a></li>
							<li><a class="greytext text-ligten-3" href="https://www.linkedin.com/in/mitchell-beare-0002b6151/">Linkedin</a></li>
							<li><a class="grey-text text-lighten-3" href="https://www.facebook.com/mitchell.beare.1">Facebook</a></li>
						</ul>
					</div>
				</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						Last updated 29/04
						<a class="grey-text text lighten-4 right" href="mailto:MitchellBeare@gmail.com">Email Me</a>
					</div>
				</div>

			</footer>
			<script type="text/javascript" src="js/materialize.js"></script>
		</body>
	</html>
